@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-size: 2rem;
}

.container {
    background-color: rgba(233, 222, 187, 0.979);
    padding: 10rem 20rem;
    border-radius: 35%;
}